.epigrof_base {
    text-indent: 20px;
    text-align: justify;
    margin: 50px 100px 0px 100px;
}

.contacts {
    margin: 100px 300px 50px 300px;
}

.request {
    margin: 100px 100px 100px 100px;

}

.epigrof {
    margin: 50px 80px 80px 80px;
}