{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<div class="categ_h">
    <h1 class="text-center">Наш ассортимент роз</h1>
</div>

<div class="container text-center">
    <div class="row">

        {% for rose_type in rose_types %}
        <div class="col-6 col-sm-3">
            <br>
            <img src="{{ rose_type.img.url }}" alt="">
            <br>
            <form action="{% url 'catalog:all_categ_roses' %}">
                <input type="submit" name="{{rose_type.title_en}}" value="{{rose_type.title_ru}}" class="btn btn-light">
            </form>
        </div>
        {% endfor %}
    </div>
</div>

<div class="btn_all_roses text-center">
    <form action="{% url 'catalog:all_categ_roses' %}">
        <input type="submit" name="all" value="Показать весь ассортимент роз" class="btn btn-primary">
    </form>
</div>

{% endblock %}